.ipynb_checkpoints/Untitled-checkpoint.ipynb

.ipynb_checkpoints/QuestionGenerator-checkpoint.ipynb

.ipynb_checkpoints/Guesser-checkpoint.ipynb

# Preprocessing ignores
*new.jsonl
# *.h5
*_params.json
visdial_*

__pycache__/vgg.cpython-36.pyc

.ipynb_checkpoints/vgg feature extraction example-checkpoint.ipynb

val2014/*

__pycache__/VGG_Feature_Extract.cpython-36.pyc

indices_new.json

preprocessed_new.h5

train/*

train2014/*

*.pyc

image_features.h5

seq2seq/Preprocessing/Data/indices.json

seq2seq/Preprocessing/Data/preprocessed.h5

OpenNMT/ivdModels/Oracle/models/*
OpenNMT/ivdModels/Oracle/logs/*
OpenNMT/ivdModels/Oracle/models/__pycache__/*

seq2seq/logs/*

seq2seq/Models/bin/*

q_lengths.p

test_game_ids_200.p

test_game_ids_541.p

test_game_ids_splitting.p

OpenNMT/ivdModels/bin/*
OpenNMT/logs/*
OpenNMT/pred.txt
multi-bleu.perl
*.pt
*.pyc
#.*
.idea

logs/runs/*
