
.ipynb_checkpoints/Untitled-checkpoint.ipynb

glove.6B.100d

glove.6B.100d.pt

glove.6B.100d.txt

glove.6B.100d.txt

glove.6B.200d.txt

glove.6B.300d.txt

glove.6B.50d.txt

.ipynb_checkpoints/QuestionGenerator-checkpoint.ipynb

.ipynb_checkpoints/Guesser-checkpoint.ipynb

# Preprocessing ignores
*new.jsonl
# *.h5
*_params.json
visdial_*

__pycache__/vgg.cpython-36.pyc

.ipynb_checkpoints/vgg feature extraction example-checkpoint.ipynb

val2014/*

__pycache__/VGG_Feature_Extract.cpython-36.pyc

indices_new.json

preprocessed_new.h5

train/*

train2014/*

*.pyc

image_features.h5

Preprocessing/Data/indices.json

Preprocessing/Data/preprocessed.h5

Preprocessing/Data/indices.json

Preprocessing/Data/preprocessed.h5

logs/*

Models/bin/*

q_lengths.p

test_game_ids_200.p

test_game_ids_541.p

test_game_ids_splitting.p
